.body-page{
    display: grid;
    grid-template-columns: 70% 20%;
    grid-template-rows: 300px 300px;
    grid-template-areas: "banner destaques" "main destaques";
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}

.body-banner{
    grid-area: banner;
    
}
.body-main{
    grid-area: main;
}
.body-destaques{
    grid-area: destaques;
}