.body-page{
    display: grid;
    grid-template-columns: 55% 25%;
    grid-template-rows: auto auto;
    grid-template-areas: "banner destaques" "main destaques";
    justify-content: center;
    margin-top: 30px;
}

.body-banner{
    grid-area: banner;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    min-width: 300px;
}
.body-main{
    grid-area: main;
    width: 100%;
    min-width: 300px;
}
.body-destaques{
    grid-area: destaques;
    width: 100%;
}