:root{
  --corPrimaria: #03045e;
  --corSecundaria: #4246e5;
  --clickColor: crimson;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul{
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  border: 0;
  border-style: 0;
}

input{
  border-style: none;
}